
.formControl.error input,
.formControl.error textarea {
    border: solid 2px red;
}

.formControl.error span {
    color: red;
    /*margin-top: -10px;*/
}

.formSummaryError {
    border: solid 2px red;
    padding: 5px;
    color: indianred;
}


.textarea {
    border-radius: 5px;
    resize: none;
    width: 500px;
    background: #dbaa9e;
    padding: 10px;
}

.textarea::placeholder {
    color: #2f1d1d;
    font-weight: 500;
    outline-color: rgb(99, 64, 64)
}

.textarea2 {
    border-radius: 5px;
    resize: none;
    width: 100%;
    background: #dbaa9e;
    padding: 10px;
}

.textarea2::placeholder {
    color: #2f1d1d;
    font-weight: 500;
    outline-color: rgb(99, 64, 64)
}


.input {
    border-radius: 5px;
    resize: none;
    width: 100%;
    background: #dbaa9e;
    outline: none;
    padding: 5px;
    color: #634040;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px  #dbaa9e  inset;
}