.header {
    grid-area: h;
    background: orange;
}

.header img {
    width: 40px;
}

.loginBlock {
    float: right;
    padding-right: 20px;
    position: relative;
    top: 7px;

}

.loginBlock a {
    text-decoration: none;
    color: #2c063b;
    text-transform: uppercase;
    font-weight: 700;
}