.nav {
    grid-area: n;
    background: blueviolet;
}

.list {
    padding-left: 25px;
    list-style-type: none;
    font-size: 20px;
}

.item a {
    color: #dde50a;
    text-decoration: none;
}

.item a:hover {
    color: #e7a425;
    font-weight: 500;
}

.item a.activeLink {
    color: goldenrod;
}