.nav {
    grid-area: n;
    background: blueviolet;
}

.list {
    padding-left: 25px;
    list-style-type: none;
    font-size: 20px;
}

.item a {
    text-decoration: none;
    color: #dde50a;
}

.active a {
    color: #e7a425;
    font-weight: 500;
}

.item a:hover,
.item a:active {
    color: #e7a425;
    font-weight: 500;
}
