@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');

.formWrapper {
    margin: 20px 40px;
    font-family: 'Averia Sans Libre', cursive;
}

.form {
    width: 200px;
}

.rememberMe {
    display: flex;
    align-items: center;
}

.checkbox {
    height: 16px;
    width: 16px;
}

.btn {
    height: 30px;
    cursor: pointer;
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
    letter-spacing: 0.3px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}
