.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}

.dialogsItems .active {
    color: #dde50a;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: #2c063b;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 5px;
}

.dialog a {
    color: #dde50a;
    text-decoration: none;
    padding-left: 10px;
}

.dialog a:hover {
    color: #2c063b;
    font-weight: 500;
}

.dialog a.activeLink {
    color: #2c063b;
    font-weight: 700;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.messageArea {
    display: flex;
    align-items: flex-end;
}