.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {

}

.dialogsItems .active {
    color: #dde50a;
}

.messages {
    padding: 10px;
}

.messages .message {

}